.QuestionButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-top: 1rem;
    width: 100%;

    .side {
        display: grid;
        align-self: center;
        
        &.left {
            justify-content: left;
        }
        &.right {
            justify-content: right;
        }
    }
}