// Description: This file is the main file for the scss files. It imports all the other scss files and sets the variables.
$main-color: #809fff;
$secondary-color: #bfcfff;
$theme-color: #0033cc;
$questionnaire-window-min-size: 450px;