.QuestionTitle {
    display: grid;
    margin-bottom: 1rem;
    text-align: center;

    h1, h3 {
        overflow-wrap: anywhere;
    }

    h1 {
        font-size: 1.7em;
        line-height: 1.1;
    }

    h3 {
        font-size: 1em;
        line-height: 1;
    }
}