@import '../../assets/scss/index';

.TextInput {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;

    .input {
        font-family: inherit;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $primary;
        outline: 0;
        font-size: 1.3rem;
        color: $black;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown~.label {
            font-size: 1.3rem;
            cursor: text;
            top: 20px;
        }

        &:required,
        &:invalid {
            box-shadow: none;
        }

        &:focus, &:active {
            ~.label {
                position: absolute;
                top: 0;
                display: block;
                transition: 0.2s;
                font-size: 1rem;
                color: $primary;
                font-weight: 700;
            }
        
            padding-bottom: 6px;
            font-weight: 700;
            border-width: 3px;
            border-image: linear-gradient(to right, $primary, $theme-color);
            border-image-slice: 1;
        }
    }

    .label {
        user-select: none;
        position: absolute;
        z-index: -1;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $theme-color;
    }
}